/*variables and stuff*/

:root{
    --myapp-color-background: limegreen;
    --myapp-color-separator: rgb(180, 180, 180);
    --myapp-color-second-separator: rgb(219, 130, 14);
    --myapp-color-main: white;
    --myapp-color-header: rgb(60,60,60);
    --myapp-header-height: 10vh;
    --myapp-footer-height: 7vh;
    --myapp-greyspace-height: 3vh;
    --myapp-orangespace-height: .4vh;
}

/*Import fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Set font for everything*/
*{
    font-family: 'Roboto', sans-serif;
}

/*excessive use of grid starts here*/
html, body {
    background-color: var(--myapp-color-background);
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}

/*General Stuff, height, color, etc. of main elements*/
header {
    margin: 0;
    background-color: var(--myapp-color-main);
    display: grid;
    grid-template-columns: 1fr 5fr repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: var(--myapp-header-height);
    /*unsure about this shadow, may be rendered quite ugly*/
    filter: drop-shadow(0px 10px 4px #9b9b9b);
    /*leaving this very tiny border at the bottom. it looks good and makes me happy.*/
    border-bottom: 1px solid var(--myapp-color-separator);
}

h1 {
    font-size: 2.2rem;
    grid-area: 2 / 2 / 3 / 3;
    text-transform: uppercase;
    margin: 0;
}

.greyspace{
    background-color: var(--myapp-color-separator);
    margin: 0;
    height: var(--myapp-greyspace-height);
}

main {
    overflow: auto;
    margin: 0;
    background-color: var(--myapp-color-main);
    height: calc(100vh - (var(--myapp-orangespace-height) + var(--myapp-header-height) + var(--myapp-footer-height)));
}

main > ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

main > ul > li {
    /*may not be the most elegant approach, but its functional and easy to implement/understand*/
    display: grid;
    grid-template-columns: repeat(40, 2.5vw);
    grid-template-rows: repeat(10, 2.5vw);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom: 1px solid var(--myapp-color-separator);
}

main > ul > li > .coverimg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-area: 2 / 2 / 9 / 9;
    border: 1px solid var(--myapp-color-separator)
}

.orangespace{
    background-color: var(--myapp-color-second-separator);
    margin: 0;
    height: var(--myapp-orangespace-height);
}

footer {
    margin: 0;
    background-color: var(--myapp-color-main);
    height: var(--myapp-footer-height);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.footerspace {
    grid-area: 2 / 2 / 3 / 3;
    margin: auto;
}

/*Styling for the buttons*/
.imgbutton {
    background-color: transparent;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0px;
    border: none;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-origin: content-box;
    background-position: center center;
    filter: invert(90%);
    -webkit-filter: invert(90%);
}

/*each of the elements within the list are placed within a quite fine grid. */
.toggle-listeners{
    background-image: url("../images/glyphicons/png/glyphicons-517-menu-hamburger.png");
    background-size: 30px 30px;
    grid-area: 2 / 1 / 3 / 2;
    margin: auto;
}

.toggle-view{
    background-image: url("../images/glyphicons/png/glyphicons-157-show-thumbnails.png");
    background-size: 30px 30px;
    grid-area: 2 / 3 / 3 / 4;
    margin: auto;
}

.listeners-active .toggle-listeners {
    background-image: url("../images/glyphicons/png/glyphicons-560-mic-mute.png");
    background-size: 30px 30px;
}

.new-item {
    background-image: url("../images/glyphicons/png/glyphicons-433-plus.png");
    grid-area: 2 / 4 / 3 / 5;
    margin: auto;
}

.edit-item {
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url("../images/glyphicons/png/glyphicons-31-pencil.png");
    justify-content: flex-end;
    margin-left: auto;
}

.toggle-leaveapp{
    background-image: url("../images/glyphicons/png/glyphicons-388-log-out.png");
    background-size: 30px 30px;
    grid-area: 2 / 1 / 3 / 2;
    margin: auto;
}

.toggle-refresh{
    background-image: url("../images/glyphicons/png/glyphicons-82-refresh.png");
    background-size: 30px 30px;
    grid-area: 2 / 3 / 3 / 4;
    margin: auto;
}

.imgsrc {
    color: var(--myapp-color-separator);
    grid-area: 2 / 11 / 2 / 15 ;
    font-size: .8rem;
    margin: 0;
}

.date {
    color: var(--myapp-color-separator);
    grid-area: 2 / 34 / 2 /38;
    font-size: .8rem;
    margin: 0;
}

.medianame {
    color: black;
    grid-area: 5 / 11 / 5 / 15;
    margin: 0;
}

.playbtn {
    background-image: url("../images/glyphicons/png/glyphicons-174-play.png");
    background-size: .8rem .8rem;
    grid-area: 7 / 10 / 7 / 14;
    margin: 0;
}

.playnumber {
    color: var(--myapp-color-separator);
    grid-area: 8 / 13 / 8 / 14;
    font-size: .8rem;
    margin:0;
    vertical-align: middle;
}

.limenu {
    grid-area: 6 / 36 / 6 / 38;
    background-image: url("../images/glyphicons/png/glyphicons-518-option-vertical.png");
    background-size: .3rem 1rem;
}

/*tiles-view*/
.myapp-tiles {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vw;
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(6, 30vw);
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
}

.myapp-tiles > li {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px solid var(--myapp-color-separator);
}

.myapp-tiles > li > p {
    display: none;
}
.myapp-tiles > li > .playbtn {
    display: none;
}

.myapp-tiles > li > .coverimg {
    /*this is not pretty, but the grid does not behave as it should, at this point, 153 is a bit much :) */
    grid-area: 1 / 1 / 4 / 153; 
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid var(--myapp-color-separator)
    
}
.myapp-tiles > li > .imgbutton {
    margin: 0;
}

.toggle-view2{
    background-image: url("../images/glyphicons/png/glyphicons-115-list.png");
    background-size: 30px 30px;
    grid-area: 2 / 3 / 3 / 4;
    margin: auto;
}

/*end tiles view*/